<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811603037043-crnmfmf0k2ssb7rebpqu5brh5m5j7jo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811603037043-crnmfmf0k2ssb7rebpqu5brh5m5j7jo9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811603037043-iu36eph7o70lagkehi6m6fnp6l4t4o1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ZOZbJNFsRcI-STBvEcVIkw5UMgiAQOk</string>
	<key>GCM_SENDER_ID</key>
	<string>811603037043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderlee.amigosperdidos</string>
	<key>PROJECT_ID</key>
	<string>amigos-383614</string>
	<key>STORAGE_BUCKET</key>
	<string>amigos-383614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811603037043:ios:2d55d5f0d225515f531306</string>
</dict>
</plist>